html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
h1,
h2,
h3 {
  margin: 0;
}
header {
  background-color: #0e0e12;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  /* align-items: center; */
}
header .header-container {
  max-width: 1120px;
  height: 60px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo p {
  font-weight: 700;
}
header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}
@media (max-width: 768px){
}
/* --------- */
.hero-section {
  /* margin-top: 40px; */
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/main-bg.jpeg");
  background-size: cover;
  background-position: center;
  padding: 120px 0 60px;
}
.hero-section h1 {
  font-size: 50px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
}
.subtitle {
  font-size: 18px;
  margin: 30px 0;
}
.desc {
  font-size: 14px;
}
.blue-text {
  color: #4ed8ff;
  font-weight: 600;
}
.hero-btn {
  margin-top: 30px;
  color: #0e0e12;
  background-color: rgb(255, 205, 40);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.hero-btn:hover {
  transform: scale(1.1);
  background-color: rgba(255, 205, 40, 0.7);
}
@media (max-width: 768px){
  .hero-section{
    text-align: center;
  }
}
/* -------- */

.concerts-section {
  background-color: #0e0f14;
}

.concerts-table {
  width: 100%;
  border-collapse: collapse;
  background: #151920;
  border-radius: 12px;
  overflow: hidden;
}
.concerts-table thead tr:first-child th {
  text-align: left;
  padding: 20px 24px;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.03);
}
.concerts-table thead tr:nth-child(2) th {
  text-align: left;
  font-size: 14px;
  color: #9aa4b2;
  padding: 14px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.03);
}
.concerts-table td {
  padding: 16px 24px;
  font-size: 15px;
}
.concerts-table tbody tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.concerts-table tbody tr:hover {
  background: rgba(255, 255, 255, 0.03);
}
.btn-table {
  background: #ff2f5b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: 0.2s;
}
.btn-table:hover {
  background: rgba(255, 87, 121, 0.7);
  transform: scale(1.1);
}


.modal{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;

  opacity:0;
  visibility:hidden;

  transition:0.3s;
  z-index:1000;
}

.modal.active{
  opacity:1;
  visibility:visible;
}

/* overlay */
.modal-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
}

/* окно */
.modal-content{
  position:relative;
  background:#111827;
  padding:30px;
  border-radius:12px;
  width:90%;
  max-width:420px;

  transform:translateY(40px);
  opacity:0;

  transition:0.3s;
}

.modal.active .modal-content{
  transform:translateY(0);
  opacity:1;
}
#popupCity{
  font-weight: 500;
  font-size: 20px;
}
.form-success2{
  display: none;
  color:rgb(255, 204, 0);
}
.order-form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.order-form-row input{
  width: 50%;
  background-color: #384662;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.modal-close{
  position:absolute;
  top:10px;
  right:10px;
  background:none;
  border:none;
  color:white;
  font-size:20px;
  cursor:pointer;
}

/* блокировка скролла */
body.modal-open{
  overflow:hidden;
}

@media (max-width: 768px) {
  .concerts-table thead tr:first-child th {
    background-color: #0f1623;
    border: none;
  }
  .concerts-table thead tr:nth-child(2) {
    display: none;
  }

  .concerts-table,
  .concerts-table tbody,
  .concerts-table tr,
  .concerts-table td {
    display: block;
    width: 100%;
  }
  .concerts-table td{
    font-size: 13px;
   
  }
  .concerts-table tr {
    margin-bottom: 15px;
    background: #0f1623;
    border-radius: 10px;
    padding: 10px;
  }

  .concerts-table td {
    padding-left: 50%;
    position: relative;
  }

  .concerts-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 45%;
    text-align: left;
    font-weight: 600;
    color: #9aa4b2;
  }
}
/* ------ */

.members-section {
  background-color: #0e0f14;
}
.members-section h2 {
  text-align: center;
  margin-bottom: 30px;
}
.members-list {
  display: flex;
  justify-content: space-around;
}
.member-card {
  background: #262c35;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}
.member-card img {
  width: 240px;
}
.member-name {
  padding: 10px;
}
@media (max-width: 768px) {
  .members-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
/* --------- */

.history-section {
  background: linear-gradient(45deg, #121d21, #26151b);
  font-size: 14px;
}
.text-with-img {
  display: flex;
}
.text-with-img img {
  max-width: 360px;
  /* height: 160px; */
}
@media (max-width: 768px) {
  .text-with-img {
    flex-direction: column;
  }
  .text-with-img img {
    max-width: 100%;
  }
}
/* --------- */

.contacts-section {
  background: linear-gradient(-45deg, #121d21, #26151b);
}
.contacts-title {
  text-align: center;
}
.form{
  width: 50%;
}
.inform-container {
  display: flex;
  justify-content: space-between;
}
.form .input {
  display: flex;
  flex-direction: column;
  width:50%;
}
.form label {
  font-size: 12px;
  margin-bottom: 10px;
}
.input-message{
    display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 10px;
}
.form-row input {
  border: 1px solid rgba(255, 255, 255, 0.08);
  background-color: #151821;
  border-radius: 10px;

  max-width: 240px;
  height: 40px;
  color: #fff;
}

.input-message textarea {
  max-width: 500px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background-color: #151821;
  border-radius: 10px;
 
  color: #fff;
}

.map-container {
  padding: 20px;
  background-color: #151821;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}
.map-container h3 {
  text-align: left;
  margin-bottom: 20px;
}
.btn-main {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: #ff2f5b;
  padding: 10px 20px;
  margin-top: 20px;
}
.form-success{
  display: none;
  color:rgb(255, 204, 0);
  font-size: 20px;
}

@media (max-width: 768px) {
  .form {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
  }
  .inform-container {
    flex-direction: column;
  }
  .input-message textarea {
   width: 90%;
    margin: 0 auto;
  }
  .form-row {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .form label {
    text-align: center;
  }
  .map-container {
    text-align: center;
  }
  .map-container h3{
    text-align: center;

  }
  .map-container iframe {
    width: 90%;
  }
}
/* --------- */

footer {
  background-color: #0b0d10;
  color: #b7b7b7;
}
footer .container {
  padding: 30px;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
}
.footer-left p {
  margin: 0;
}
#footer-contact {
  color: #fff;
  margin-top: 40px;
}
.footer-right a {
  color: #b7b7b7;
}
@media (max-width: 768px) {
  .footer-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-left{
    text-align: center;
  }
  #footer-contact {
  margin-top: 20px;
}
  .footer-right{
    margin: 20px 0;
  }
}